:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #090909; 
  --text-color:#d3ffe9;
  --linkcolor: #8ddbe0; 
  --header-bg: #4b5043; 
  --button-bg: #9bc4bc; 

}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
}


section#bio-container {
  background-image: url(https://i.pinimg.com/564x/d8/53/49/d85349f7e91f366aee9f3e21f468f4bf.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  text-align-last: center;
  padding-top: 2rem;

  h1 {
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.5);
  }
  p{
    font-size: larger;
    font-weight: bold;
  }
}


#form-section{
  background-image: url(https://i.pinimg.com/564x/d8/53/49/d85349f7e91f366aee9f3e21f468f4bf.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#project-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  label{
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
  }

  .input, button{
    margin-bottom: 1rem;
  }
  input{
    padding: 5px;
  }
  #githubRepository{
    min-width: 250px; 
  }
  button{
    background-color: #022237;
    color: #ffffff;
    border-radius: 1rem;
    padding: 0.7rem;
    text-transform: uppercase;
  }
  button:hover{
    color: #000000;
    background-color: #f1f1f1;
    font-weight: bold;
  }
}
#projects-container {
  display: flex;
  gap: 1rem;
  height: 500px;
  padding-top: 2rem;
}


article.project {
  display: flex;
  align-content: stretch;
  justify-content: center;
  flex-grow: 2rem;
  row-gap: 1rem;
  flex-flow: wrap;
  a{
    text-decoration: none;
    font-size: large;
    color: white;
  }
}

#form-section {
  padding: 3rem;

}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  gap: 1rem;
  background-color:  #EEF1EF;
  padding: 0.5rem;
  margin-left: auto;
  a{
    color: black;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  a:hover{
    color: #ffffff;
    background-color: #1C2321;
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
  background-color: #EEF1EF;
  color: black;
  font-size: medium;

  a{
    color: black;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  a:hover{
    color: #ffffff;
    background-color: #1C2321;
  }

}






